html { 
   font-size: 100%; 
}
body /* Internet Explorer */ 
{ 
text-align: center; 
background-color: #FFFFFF;
} 
body /* Mozilla Firefox alignment */ 
{ 
text-align: -moz-center; 
background-color: #FFFFFF;
} 
td {
	font-family: Arial, Helvetica, sans-serif; 
	color: #050080;
   font-size: 75%; 
   line-height: 130%;
}
td.shorty_home {
   padding-left:2px;
   font-size: 70%;
}
p {
   padding: 0px;
   margin: 0px;
   margin-bottom: 0px;
}
form {
	margin: 0px 0px 0px 0px;
}
.defaulttxt {
   color: #050080;
}
.formtext { 
	color: #FFFFFF;
	width:40%;
	vertical-align:middle;
	padding-left:4px;
}
.formbox { 
   width: 60%;
	vertical-align:middle;
	text-align:right;
	padding-right:1px;
}
.footerzoektext { 
	color: #FFFFFF;
	background-color: #1D1E94; 
	width:40%;
	vertical-align:middle;
	padding-left:4px;
}
.footerzoekbox { 
	background-color: #1D1E94; 
	width:60%;
	vertical-align:middle;
	text-align:right;
	padding-right:1px;
}
.imagecaption{
	color: #a0a0a0;
	padding-bottom:10;
}
.dotline {
   width: 100%;
   margin-top: 4;
   margin-bottom: 0;
   background-image:  url(../../media/dotline.gif);
   background-repeat: repeat-x;
}
.maincolor {
    color: #FFFFFF;
}
A:link {
	color: #050080; 
	text-decoration: underline; 
}
A:visited{
	color: #050080; 
	text-decoration : underline;
}
A:hover{
	color: #050080; 
	text-decoration : underline;
}
A.bold:link {
   font-weight: bold;
}
A.bold:visited {
   font-weight: bold;
}
A.bold:hover{
   font-weight: bold;
}
A.klikpad { 
	color: #FFFFFF; 
	text-decoration: none;
}
A.klikpad:visited { 
	color: #FFFFFF; 
	text-decoration: none;
}
A.klikpad:hover { 
	color: #FFFFFF; 
	text-decoration: underline;
}
A.subnav {
	color: navy; 	
	font-weight: normal; 
	text-decoration : underline;
}
A.hover {
	text-decoration: none;
}
A.hover:visited {
	text-decoration: none;
}
A.hover:hover {
	text-decoration: underline;
}
A.submitbutton {
   color: #FFFFFF;
   text-decoration: none;
   font-weight: bold;
   font-size: 0.9em;
}
A.submitbutton:visited {
   color: #FFFFFF;
   text-decoration: none;
}
A.submitbutton:hover {
   color:#FFFFFF;
	text-decoration: underline;
}
span.navbutton {
   display: block;
   width: 165px;
   height: 18px;
   padding: 4px 8px 3px 3px;
   color: #FFFFFF;
   font-weight: bold;
   font-size: 0.9em;
}
A.navbutton {
   display: block;
   width: 165px;
   height: 18px;
   padding: 4px 8px 3px 3px;
   color: #FFFFFF;
   font-weight: bold;
   font-size: 0.9em;
}
.submit_image{
   background-repeat: no-repeat;
   background-position: center right;
   height:18px;
   border:0;
   color: #FFFFFF;
   text-align: left;
   padding-left: 15px;
   font-size: 1.0em;
	font-weight: bold;
}
.headerBar {
	background-color: #BDBDBD;
	color: black;
	font-weight: bold;
	padding-left: 10px;
	vertical-align: bottom;
	height:18px;
}
.rightSideBar {
	background-color: gray;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	vertical-align: bottom;
	height:18px;
}
/* styles for the shop */
.subtitlebar {
	color: #595959;
	background-color: #DFDFDF;
	font-size: 10px;
	letter-spacing: 2px;
	text-align: center;
}
input.cart {
	border: 0px;
	font-size: 10px;
	font-family: Arial, sans-serif;
	text-align: center;
	width:21px;
	height:13px;
}
table.thumbnail {
	border: 1px #DFDFDF solid;
	width: 46px;
	height: 71px;
}
td.thumbnail {
	padding-top:6px;
	padding-bottom:6px;
	padding-left:3px;
	padding-right:3px;
	text-align: center;
	vertical-align: middle;
}
td.nav {
	color: #F37021;
	font-size: 13px;
	font-weight: bold;
	background-repeat:no-repeat;
	background-position: right bottom;
}
td.cartheader {
	color: #F37021;
	padding: 4px;
	padding-top: 8px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height : 85%;
  vertical-align: top;	
}
td.cartodd {
	background-color: #FFF5EC;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 14px;
	padding-bottom: 9px;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}
td.carteven {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 14px;
	padding-bottom: 9px;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}
td.thumbnailparent {
	font-size: 10px;
	align: center;
	text-align: center;
}
