<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <context-param>
    <param-name>mmbase.taglib.eval_body_include</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>mmbase.taglib.url.makerelative</param-name>
    <param-value>false</param-value>
  </context-param>

  <filter>
    <filter-name>Jumpers Filter</filter-name>
    <display-name>Jumpers Filter</display-name>
    <description>Filter used for jumpers</description>
    <filter-class>org.mmbase.servlet.JumpersFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.mmbase.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter>
     <filter-name>Filter Out FrontUrls</filter-name>
     <filter-class>nl.leocms.servlets.UrlInterceptor</filter-class>
  </filter>

  <filter>
     <filter-name>Webservice IP Filter</filter-name>
     <filter-class>nl.leocms.servlets.IPFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Jumpers Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
     <filter-name>Filter Out FrontUrls</filter-name>
     <url-pattern>*.htm</url-pattern>
  </filter-mapping>

  <filter-mapping>
     <filter-name>Webservice IP Filter</filter-name>
     <url-pattern>/services/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
 
  <servlet>
    <servlet-name>version</servlet-name>
    <description>To get the version of MMBase</description>
    <servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>images</servlet-name>
    <description>To extract images from MMBase</description>
    <servlet-class>org.mmbase.servlet.ImageServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>attachments</servlet-name>
    <description>To retrieve binary files from MMBase</description>
    <servlet-class>org.mmbase.servlet.AttachmentServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.eb</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/mmbase/images/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>attachments</servlet-name>
    <url-pattern>/mmbase/attachments/*</url-pattern><!-- if done by servdb, it must be /attachment.db -->
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
      <error-code>400</error-code>
      <location>/404/index-400.jsp</location>
  </error-page>
  <error-page>
      <error-code>403</error-code>
      <location>/404/index-403.jsp</location>
  </error-page>
    <error-page>
      <error-code>404</error-code>
      <location>/404/index-404.jsp</location>
  </error-page>
  <error-page>
      <error-code>405</error-code>
      <location>/404/index-405.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/404/index-500.jsp</location>
  </error-page>
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://www.mmbase.org/mmbase-taglib-1.0</taglib-uri>
    <taglib-location>/WEB-INF/lib/mmbase-taglib.jar</taglib-location>
  </taglib>

  <taglib>
     <taglib-uri>http://www.opensymphony.com/oscache</taglib-uri>
     <taglib-location>/WEB-INF/classes/oscache.tld</taglib-location>
  </taglib>

  <taglib>
     <taglib-uri>http://mmapps.sourceforge.net/lucenemodule/taglib</taglib-uri>
     <taglib-location>/WEB-INF/tld/lucenemodule.tld</taglib-location>
  </taglib>

  <taglib>
     <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
     <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
  </taglib>

</web-app>
