.colortitle{
   color: #BAC42B; 
   font-weight: bold;
}
.colortxt{
   color: #BAC42B; 
}
.maincolor{
   background-color: #BAC42B; 
}
.leftnavrubriek{
   text-transform:uppercase;
   background-color: #BAC42B;
   color: #FFFFFF; 
   font-weight: bold;
}
.leftnavpage{
   background-color: #FFFFFF;
   color: #BAC42B; 
   font-weight: normal;
}
.leftnavpage_high{
   background-color: #EEF584;
   color: #BAC42B; 
   font-weight: normal;
}
.leftnavline{
   background-color: #BAC42B;
}
.rule {
   border-top-width: 1px;
   border-top-style: solid;
   border-color: #EEF584; 
   margin: 0px 0px 0px 0px;
}
.submit_image{
   background-image: url(../../media/submit_natuurgebieden.gif);
   background-color: #BAC42B;
}
.pano_shorty-header{
   background-color: #1D1E94; 
   color: #FFFFFF; 
   text-decoration: none;
   font-size: 0.70em;
}
.pano_shorty-body{
   background-color: #FFE75B; 
   color: #000000; 
   font-weight: bold;
}
ul {
   list-style-type: square;
   list-style-image:url(../../media/square_natuurgebieden.gif);
   padding:0px;
   padding-left:15px;
   margin:0px;
}
.submitbutton {
   background-color: #BAC42B;
   color: #FFFFFF;
   font-weight: bold;
   border : none;
}
span.navbutton {
   background-color: #BAC42B;
}
A.navbutton {
   background-color: #BAC42B;
   text-decoration: none;
}
A.navbutton:link {
   background-color: #BAC42B;
   text-decoration: none;
}
A.navbutton:visited {
   color:  #BAC42B;
   text-decoration: none;
}
A.navbutton:hover {
   color:#FFFFFF;
   text-decoration: underline;
}
A.subnavbutton {
   padding: 3px 8px 3px 3px;
   display: block;
   width: 165px;
   height: 18px;
   color: #BAC42B;
   text-decoration: none;
}
A.subnavbutton:link {
   background-color: #FFFFFF;
   color: #BAC42B;
   text-decoration: none;
}
A.subnavbutton:visited {
   background-color: #FFFFFF;
   color: #BAC42B;
   text-decoration: none;
}
A.subnavbutton:hover {
   background-color: #EEF584;
   color: #BAC42B;
   text-decoration: none;
}
A.subnavbutton-high {
   background-color: #EEF584;
}
A.subnavbutton-high:visited {
   color: #BAC42B;
}
A.maincolor_link{
   text-decoration:underline;
   color: #BAC42B;
}
A.maincolor_link:visited{
   text-decoration:underline;
   color: #BAC42B;
}
A.maincolor_link:hover{
   text-decoration:underline;
   color: #BAC42B;
}
A.maincolor_link_shorty {
   text-decoration:none;
   color: #BAC42B;
}
A.maincolor_link_shorty:visited {
   text-decoration:none;
   color: #BAC42B;
}
A.maincolor_link_shorty:hover {
   text-decoration:underline;
   color: #BAC42B;
}
.footer {
   background-color: #EEF584;
   color: #050080; 
}
A.footerlinks {
   text-decoration:none;
   background-color: #EEF584;
   color: #050080; 
}
A.footerlinks:visited { 
   text-decoration:none;
   background-color: #EEF584;
   color: #050080; 
}
A.footerlinks:hover { 
   text-decoration:underline;
   background-color: #EEF584;
   color: #050080; 
}
A.attachment {
   background-image: url(../../media/bijlage_natuurgebieden.gif);
   background-repeat: no-repeat;
   background-position: center left;
   padding-left: 12px;
}
A.url {
   background-image: url(../../media/link_natuurgebieden.gif);
   background-repeat: no-repeat;
   background-position: center left;
   padding-left: 12px;
}
