input, select {
	font-family: Verdana, sans-serif;
	font-size: 1.0em;
}
select {
	width: 15.0em;
}

table {
	font-size: 1.0em;
}

td.width100 {
	width: 100%;
}

table.inputcanvas {
	font-size: 1.0em;
	margin: 0.0em;
	padding: 0.5em;
	border-spacing: 0.0em;
	border-width: 0.0em;
	border-style: solid;
	border-collapse: collapse;
	vertical-align:	top;
	text-align: left;
	width: 100%;
}

input.flexbutton,
input.longbutton,
input.button  {
	font-weight: bold;
	margin: 0.1em;
	padding: 0.0em;
	border-width: 0.1em;
	border-style: outset;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	color: #FFFFFF;
	background-color: #4A7BA5;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	text-transform: uppercase;
	word-spacing: normal;
}

input.button  {
	width: 10em;
}
input.longbutton  {
	width: 20em;
}

input.text {
	width: 15em;
}