body {
   margin: 0px;
   padding: 0px;
   text-align: left;
   color: #333333;
	background-color: #FFFFFF;
}
table { 
   border-collapse: collapse;
}
table.content {
   width:690px;
   margin-top:60px;
   margin-bottom:10px;
}
td { 
 	font-family: Arial, Univers, sans-serif;
}
select {
   font-size: 75%;
}
.caption {
   font-size: 75%;
}
.def {
   font-size: 75%;
   text-align: left;
   vertical-align: top;
   height: auto;
} 
.gen {
   background-color: #FF0000;
   border: solid 1px #000000; 
}
.spec {
   background-color: #FFFF00;
   border: solid 1px #000000; 
}
.doc {
   background-color: #00FF00;
   border: solid 1px #000000; 
}
.cv {
   background-color: #FFFF00;
   border: solid 1px #000000; 
}
.cv_sub {
   background-color: #E0E0E0;
   border: solid 1px #000000; 
}
.webwork {
   background-color: #FF6600;
   border: solid 1px #000000; 
}
.contact {
   background-color: #00CCFF;
   border: solid 1px #000000; 
}
.vh {
   background-color: #FFFFFF;
   border: solid 1px #000000; 
}
.nl {
   background-color: #4040FF;
   border: solid 1px #000000; 
}
.en {
   background-color: #FF00FF;
   border: solid 1px #000000; 
}
a:link {		color: #333333; text-decoration: none; }
a:visited { color: #333333; text-decoration: none; }
a:active {	color: #333333; text-decoration: none; }
a:hover {	color: #333333; text-decoration: underline; }
.dotline {
   width: 100%;
   margin-top: 4;
   margin-bottom: 0;
   background-image:  url(../media/dotline.gif);
   background-repeat: repeat-x;
}
