/**
  Editwizard cascading style sheet.

  @version  $Id: wizard.css,v 1.1 2006-03-05 21:46:44 henk Exp $
*/
div.buttonscontent  {
        text-align: right;
} 

table.buttonscontent  {         
        text-align: right;
} 

img.bottombutton {
        cursor: pointer;
        cursor: hand;
}

img.bottombutton-disabled {
        cursor: default;
}

td.listsearch  {         
        text-align: right;
        width: 80%;
} 

tr.itemline  {
        width: 100%;
        height: 1px;
}

td.stepcurrent,
td.stepother {
    white-space: nowrap;
}