<?xml version="1.0" encoding="utf-8"?>
<menu exportsource="mmbase://127.0.0.1/test/v1" timestamp="20060918181805">
	<node number="617" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Contentelementen</naam>
	</node>

	<node number="619" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Knipsels, bijlagen (niet in gebruik)</naam>
	</node>

	<node number="621" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Dienstenpakketten</naam>
	</node>

	<node number="623" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Speciaal onderhoud</naam>
	</node>

	<node number="625" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Wie-is-wie</naam>
	</node>

	<node number="627" owner="natuur">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Categorieën</naam>
	</node>

	<node number="629" owner="admin">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>ICT</naam>
	</node>

	<node number="631" owner="admin" alias="intrashop_red">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Interne Webwinkel (redactie)</naam>
	</node>

	<node number="634" owner="admin" alias="intrashop_admin">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Interne Webwinkel (admin)</naam>
	</node>

	<node number="637" owner="admin">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Kiezen en Delen</naam>
	</node>

	<node number="639" owner="admin">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Projectmatig werken</naam>
	</node>

	<node number="641" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Personeel &amp; organisatie</naam>
	</node>

	<node number="643" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Opleidingen</naam>
	</node>

	<node number="645" owner="anonymous">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Jeugdactiviteiten</naam>
	</node>

</menu>
