body {
    padding: 0px; 
    margin: 0px;
    font-size: 12px;
    scrollbar-highlight-color: #ffffff;
    line-height: 130%;
    background-repeat: no-repeat;
    font-family: arial, sans-serif;
    overflow: hidden;
}
p {
   padding: 0px;
   margin: 0px;
   margin-bottom: 0px;
}
input {
    font-size: 11px;
    font-family: arial, sans-serif;
    text-align: left;
}
textarea {
    font-size: 11px;
    font-family: arial, sans-serif;
}
select {
    font-size: 11px;
    font-family: arial, sans-serif
}
.light {	  COLOR: #FFFFFF }
td,th {
    font-size: 12px;
    vertical-align: top;
    line-height: 130%;
    font-family: arial, sans-serif;
    text-align: left;
}
th {  font-weight: normal;
}
td.bold {
    font-weight: bold
}
td.italic_small {
    font-size: 10px;
    font-style: italic
}
td.black {
    background-color: #000000
}
td.white {
    background-color: #ffffff
}
td.header {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff
}
td.transperant {
    /* filter: alpha(opacity=75); */
    background-color: #ffffff
}
.red {
    color: #f30713
}
.black {
    color: #000000
}
.white {
    color: #fff;
}
.pageheader {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px
}
.pagesubheader {
    font-weight: bold;
    letter-spacing: 1px
}
.normal {
    font-weight: normal
}
a.menuitem:link {
    text-decoration: none;
    color: #ffffff
}
a.menuitem:visited {
    text-decoration: none;
    color: #ffffff
}
a.menuitem:active {
    text-decoration: none;
    color: #ffffff
}
a.menuitem:hover {
    text-decoration: none;
    color: #f30713
}
a.menuitemactive:link {
    text-decoration: none;
    color: #f30713
}
a.menuitemactive:visited {
    text-decoration: none;
    color: #f30713
}
a.menuitemactive:active {
    text-decoration: none;
    color: #f30713
}
a.menuitemactive:hover {
    text-decoration: none;
    color: #f30713
}
a.hover:link {
   text-decoration: none
}
a.hover:visited {
    text-decoration: none
}
a.hover:active {
    text-decoration: none
}
a.hover:hover {
    text-decoration: underline
}
a.underlined:link {
    text-decoration: underline
}
a.underlined:visited {
    text-decoration: underline
}
a.underlined:active {
    text-decoration: underline
}
a.underlined:hover {
    text-decoration: underline
}
a:link {
    font-weight: bold; color: #000000; text-decoration: none
}
a:visited {
    font-weight: bold; color: #000000; text-decoration: none
}
a:active {
    font-weight: bold; color: #000000; text-decoration: underline
}
a:hover {
    font-weight: bold; color: #f30713; text-decoration: underline
}
.ipage { width: 100%; height: 100%; }
.infopage {
    position: relative; display: block; overflow: auto; width: 100%; height: 499px
}
.smoelenboeklist {
    display: block; overflow: auto; width: 100%; height: 213px
}
.rightcolumn {
    display: block; overflow: auto; width: 100%; height: 478px
}
.linklist {
    display: block; overflow: auto; width: 100%; height: 176px
}
.navlist {
    display: block; overflow: auto; width: 195px; height: 527px
}

/* IntraShop */
td.titlebar {
    color: #FFFFFF;
    background-color: #FD7F00;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}
td.nav {
    color: #FD7F00;
    font-size: 13px;
    font-weight: bold;
    background-repeat:no-repeat;
    background-position: right bottom;
}
td.middle {
    vertical-align: middle;
}
td.solid {
   border: solid #000000 1px;
   border-collapse: collapse;
}
td.cartheader {
    color: #FD7F00;
    padding: 4px;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height : 85%;  
}
td.cartodd {
    background-color: #FFF5EC;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 14px;
    padding-bottom: 9px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}
td.carteven {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 14px;
    padding-bottom: 9px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}
input.cart {
    border: 0px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    width:21px;
    height:13px;
}
.subtitle {
    font-weight: bold;
}