body {
   background: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   color: #682E70;
   margin: 0;
   padding: 0;
}

td, th, p, ul, ol {
   font-size: 12px;
}

#container {
   background: #fff url("../img/bg_sidebar_grey.gif") top left repeat-y;
   position: relative;
   width: 774px;
   text-align: left;
   margin: 0;
   padding: 0;
   margin-left: auto;
   margin-right: auto;
}

#banner {
   background: #F96A1F url("../img/LifeLine.gif") no-repeat 22px 6px;
   margin: 0;
   padding: 0;
   height: 50px;
   color: #fff;
}

#banner h1 {
   display: none;
}

#banner h1 span {
   color: #fff;
}

#login {
   background: #EAEAEC;
   color: #682E70;
   margin: 0;
   padding: 4px 0 4px 185px;
}

.name {
   font-weight: bold;
}

#secnav {
   margin: 0;
   padding: 0;
   xborder: 1px solid white;
}

#secnav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#secnav ul li {
   display: inline;
   margin: 0 0 1px 0;
   padding: 0;
}

#secnav ul li a:link,
#secnav ul li a:visited {
   color: #fff;
   margin: 0;
   padding: 2px 6px 2px 20px;
   text-decoration: none;
   border: 1px solid #fff;
}

#secnav ul li a:hover,
#secnav ul li a:active {
   background: #682E70;
   color: #fff;
   margin: 0;
   padding: 2px 6px 2px 20px;
   text-decoration: none;
   border: 1px solid #682E70;
}

/* (#s\65 cnav ought to be #secnav) IE5 + IE5.5 ignore the escape hack(\65 ) */
/* therefore; no image will be applied in IE5 + IE5.5 */

#s\65 cnav ul li a.link:link,
#s\65 cnav ul li a.link:visited,
#s\65 cnav ul li a.link:hover,
#s\65 cnav ul li a.link:active {
   background-image: url("../img/e.gif");
   background-repeat: no-repeat;
   background-position: 5px 4px;
}

/* IE will ignore the following hack */

html>body #secnav ul li a.link:link,
#secnav ul li a.link:visited,
#secnav ul li a.link:hover,
#secnav ul li a.link:active {
   background-position: 5px 3px;
}

/* end hack */

#s\65 cnav ul li a.about:link,
#s\65 cnav ul li a.about:visited,
#s\65 cnav ul li a.about:hover,
#s\65 cnav ul li a.about:active {
   background-image: url("../img/about.gif");
   background-repeat: no-repeat;
   background-position: 5px 4px;
}

/* IE will ignore the following hack */

html>body #secnav ul li a.about:link,
#secnav ul li a.about:visited,
#secnav ul li a.about:hover,
#secnav ul li a.about:active {
   background-position: 5px 3px;
}

/* end hack */

#s\65 cnav ul li a.logout:link,
#s\65 cnav ul li a.logout:visited,
#s\65 cnav ul li a.logout:hover,
#s\65 cnav ul li a.logout:active {
   background-image: url("../img/logout.gif");
   background-repeat: no-repeat;
   background-position: 5px 4px;
}

/* IE will ignore the following hack */

html>body #secnav ul li a.logout:link,
#secnav ul li a.logout:visited,
#secnav ul li a.logout:hover,
#secnav ul li a.logout:active {
   background-position: 5px 3px;
}

/* end hack */

#s\65 cnav ul li a.help:link,
#s\65 cnav ul li a.help:visited,
#s\65 cnav ul li a.help:hover,
#s\65 cnav ul li a.help:active {
   background-image: url("../img/help.gif");
   background-repeat: no-repeat;
   background-position: 5px 4px;
}

/* IE will ignore the following hack */

html>body #secnav ul li a.help:link,
#secnav ul li a.help:visited,
#secnav ul li a.help:hover,
#secnav ul li a.help:active {
   background-position: 5px 3px;
}

/* end hack */

#content {
   float: right;
   margin: 0;
   padding: 20px 0 20px 30px;
   width: 588px;
}

#sidebar {
   float: left;
   width: 155px;
   margin: 0;
   padding: 20px 0 20px 0;
}

#sidebar ul {
   list-style-type: none;
   padding: 0;
   margin: 0 0 20px 0;
}

#sidebar ul li a:link,
#sidebar ul li a:visited {
   background: url(../img/bullet_paars.gif) no-repeat 0px 9px;
   display: block;
   color: #682E70;
   padding: 2px 8px 2px 14px;
   margin: 0;
   text-decoration: none;
}

#sidebar ul li a:hover,
#sidebar ul li a:active {
   background: #fff url(../img/bullet_paars.gif) no-repeat 0px 9px;
   display: block;
   color: #682E70;
   padding: 2px 8px 2px 14px;
   margin: 0;
   text-decoration: none;
}

#sidebar ul li a.active:link,
#sidebar ul li a.active:visited,
#sidebar ul li a.active:hover,
#sidebar ul li a.active:active {
   background: #fff url(../img/bullet_paars.gif) no-repeat 0px 9px;
}

#sidebar h3 {
   margin: 0 0 20px 0;
   padding: 0 0 0 14px;
   font-size: 120%;
   font-weight: normal;
   color: #F96A1F;
   border-bottom: 1px solid #EAEAEC;
}

#footer {
   background-color: #682E70;
   clear: both;
   height: 20px;
   padding: 4px 0 4px 185px;
   margin: 0;
   color: #fff;
   text-align: left;
   border: 1px solid #682E70;
}

p {
   margin: 0 0 20px 0;
   padding: 0;
}

h1 {
   float: left;
   margin: 10px 0 0 20px;
   padding: 0;
   color: #682E70;
   font-weight: normal;
}

#banner h1 span {
   text-transform: capitalize;
}

h2 {
   margin: 0 0 20px 0;
   padding: 0;
   font-size: 120%;
   font-weight: normal;
   color: #F96A1F;
}

h3 {
   margin: 0 0 0 0;
   padding: 0;
   font-size: 110%;
   color: #F96A1F;
}

ul {
   list-style-type: none;
   margin: 0 0 20px 0;
   padding: 0;
}

ul li {
   margin: 0;
   padding: 0;
}

#secnav {
   text-align: right;
   float: right;
   margin: 0 0 20px 0;
   padding: 5px;
}

#outlook {
   width: 400px;
   padding: 10px;
   background: #FDFBDB;
   border: 1px solid grey;

}

a:link, a:visited {
   color: #682E70;
   text-decoration: underline;
}

a:hover, a:active {
   color: #9D78A2;
   text-decoration: underline;
}

#secnav a:link, #secnav a:visited {
   color: #fff;
   text-decoration: underline;
}

#secnav a:hover, #secnav a:active {
   color: #EAEAEC;
   text-decoration: underline;
}

#footer a:link, #footer a:visited {
   color: #EAEAEC;
   text-decoration: underline;
}

#footer a:hover, #footer a:active {
   color: #fff;
   text-decoration: underline;
}

.leftbox {
   float: left;
   vertical-align: middle;
}

input {
   margin: 2px 0;
   padding: 0;
}

input.button {width: 100px;}

label {
   margin: 0;
   padding: 0 0 0 4px;
   width: 156px;
   float: left;
}

select[name=_start_search],
select[name=_stop_search] {
        visibility: hidden;
}

legend {
   background: #EAEAEC url(../img/bullet_paars.gif) no-repeat 0px 9px;
   font-weight: bold;
   margin: -21px 0px 14px 0px;
   padding: 2px 8px 2px 14px;
   border: 1px solid #fff;
   color: #682E70;
}

/* IE will ignore the following hack */

html>body legend {margin: 0px 0px 14px 0px;}

/* end hack */

fieldset {
   background: #EAEAEC;
   margin: 0 0 20px 0;
   padding: 20px 10px;
   border: none;
}


fieldset h2 {
   margin: 0 0 20px 0;
   border-bottom: 1px solid #fff;
   text-align: left;
   color: #F96A1F;
   font-weight: bold;
   font-size: 110%;
}

.formcontainer {
   margin: 0 0 20px 0;
   border: 1px solid #EAEAEC;
}

.errormessage {
   color: #F96A1F;
   font-weight: bold;   
}

.button {
   background: #F96A1F;
   margin: 0;
   padding: 0;
   width: 100px;
   color: #fff;
   border-left: 2px solid #F9B693;
   border-top: 2px solid #F9B693;
   border-right: 2px solid #C45419;
   border-bottom: 2px solid #C45419;
}

button {
   background: #F96A1F;
   margin: 0;
   padding: 0;
   color: #fff;
   border-left: 2px solid #F9B693;
   border-top: 2px solid #F9B693;
   border-right: 2px solid #C45419;
   border-bottom: 2px solid #C45419;
}

.clearer {
   clear:left;
}

ul.new li a:link,
ul.new li a:visited {
   background: #fff url(../img/message.gif) no-repeat 7px 50%;
   color: #F96A1F;
   padding: 4px 8px 4px 22px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
}

ul.new li a:hover,
ul.new li a:active {
   background: #EAEAEC url(../img/message.gif) no-repeat 7px 50%;
   color: #F96A1F;
   padding: 4px 8px 4px 22px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
}

ul.new li {
   display: inline;
   margin: 0 0 10px 0;
}

ul.back li a:link,
ul.back li a:visited {
   background: #fff;
   color: #F96A1F;
   padding: 4px 8px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
}

ul.back li a:hover,
ul.back li a:active {
   background: #EAEAEC;
   color: #F96A1F;
   padding: 4px 8px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
}

ul.back li {
   display: inline;
   margin: 0 0 10px 0;
}

table {
   margin: 0 0 30px 0;
}

td {
   vertical-align: top;
   padding-left: 8px;
   xborder-left: 1px solid grey;
}

th {
   font-weight: bold;
   padding-left: 8px;
   text-align: left;
   xborder-bottom: 1px solid grey;
}

.title {
   font-size: 120%;
   font-weight: bold;
   margin: 0;
   padding: 4px 5px 4px 0;
   border-bottom: 1px solid #EAEAEC;
}

.date {
   background: url("../img/date.gif") no-repeat 0px 7px;
   margin: 0;
   padding: 4px 5px 4px 16px;
   border-bottom: 1px solid #EAEAEC;
}

.message {
   padding: 6px 8px 6px 0;
}

.author {
   background: #EAEAEC url("../img/author.gif") no-repeat 7px 6px;
   margin: 0;
   padding: 2px 5px 2px 22px;
}

.category {
   background: #EAEAEC url("../img/label.gif") no-repeat 7px 6px;
   margin: 0;
   padding: 2px 5px 2px 22px;
}

.region {
   background: #EAEAEC url("../img/region.gif") no-repeat 7px 6px;
   margin: 0;
   padding: 2px 5px 2px 22px;
}

.zipcode {
   background: #EAEAEC url("../img/zipcode.gif") no-repeat 7px 6px;
   margin: 0;
   padding: 2px 5px 2px 22px;
}

.street {
   background: #EAEAEC url("../img/street.gif") no-repeat 7px 6px;
   margin: 0;
   padding: 2px 5px 2px 22px;
}

.edit {
   background: #fff;
   margin: 0;
   padding: 1px 0 0 0;
}

.edit ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.edit ul li {
   display: inline;
}

td.edit a:link,
td.edit a:visited {
   color: #F96A1F;
   padding: 4px 8px 4px 22px;
   margin: 0;
   text-decoration: none;
}

td.edit a:hover,
td.edit a:active {
   background: #EAEAEC;
   color: #F96A1F;
   padding: 4px 8px 4px 22px;
   margin: 0;
   text-decoration: none;
}

td.edit a.medit:link,
td.edit a.medit:visited,
td.edit a.medit:hover,
td.edit a.medit:active {
   background-image: url("../img/edit.gif");
   background-repeat: no-repeat;
   background-position: 7px 5px;
   border-left: 1px solid #EAEAEC;
   border-bottom: 1px solid #EAEAEC;
}

td.edit a.mdelete:link,
td.edit a.mdelete:visited,
td.edit a.mdelete:hover,
td.edit a.mdelete:active {
   background-image: url("../img/delete.gif");
   background-repeat: no-repeat;
   background-position: 7px 5px;
   border-left: 1px solid #EAEAEC;
   border-bottom: 1px solid #EAEAEC;
   border-right: 1px solid #EAEAEC;
}

/*
td.edit a.mmove {
   background-image: url("../img/next.gif");
   background-repeat: no-repeat;
   background-position: 7px 5px;
   border-left: 1px solid #EAEAEC;
   border-bottom: 1px solid #EAEAEC;
   border-right: 1px solid #EAEAEC;
}
*/

.even {background: #F6F5F4;}

.tablelist {
   border-left: 1px solid #EAEAEC;
   border-top: 1px solid #EAEAEC;
}

.tablelist th {
   border-bottom: 1px solid #EAEAEC;
   border-right: 1px solid #EAEAEC;
}

.tablelist td {
   border-bottom: 1px solid #EAEAEC;
   border-right: 1px solid #EAEAEC;
}

ul.page {
   background: #fff;
   list-style-type: none;
   margin: 0 0 30px 0;
   padding: 0;
}

ul.page li {
   display: inline;
}

.page a:link,
.page a:visited {
   color: #F96A1F;
   padding: 4px 8px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
   border-right: none;
}

.page a:hover,
.page a:active {
   background: #EAEAEC;
   color: #F96A1F;
   padding: 4px 8px;
   margin: 0;
   text-decoration: none;
   border: 1px solid #EAEAEC;
   border-right: none;
}

.page a.previous {
   padding: 4px 4px 4px 16px;
   background-image: none;
   background-repeat: no-repeat;
   background-position: left 5px;
}

/* IE will ignore the following hack */

html>body .page a.previous {
   background-image: url("../img/previous.gif");
}

/* end hack */

.page a.next {
   padding: 4px 16px 4px 4px;
   background-image: none;
   background-repeat: no-repeat;
   background-position: right 5px;
   border-right: 1px solid #EAEAEC;
}

/* IE will ignore the following hack */

html>body .page a.next {
   background-image: url("../img/next.gif");
}

/* end hack */

.page a.active:link,
.page a.active:visited,
.page a.active:hover,
.page a.active:active {
   background: #EAEAEC;
}

a.remove:link,
a.remove:visited {
   color: red;
   text-decoration: underline;
}

a.remove:hover,
a.remove:active {
   color: #FF6A6A;
   text-decoration: underline;
}
