<?xml version="1.0" encoding="utf-8"?>
<menu exportsource="mmbase://127.0.0.1/test/v1" timestamp="20060518142749">
	<node number="412" owner="admin" alias="admin_wizards">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Admin editwizards</naam>
	</node>

	<node number="415" owner="admin">
		<url></url>
		<omschrijving></omschrijving>
		<rank></rank>
		<pos>-1</pos>
		<naam>Beheer website</naam>
	</node>

</menu>
