body {
	background-repeat: repeat-x;
	margin: 0px; padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #FFFFFF;
	font-size: 12px;
}
table {
	font-size: 12px;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.parkop {
	font-weight: bold;
	color: #9ba400;
}
.thumb {
	margin-right: 15px;
	margin-bottom: 25px;
}
.logo {
	margin-left: 10px;
}
.sidebarright {
	float: left;
	width: 180px;
	border: 1px dashed #AEAF36;
	padding: 10px;
	background-color: #F3F4E2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-right: 20px;
	margin-bottom: 20px;
}
.pageheader {
	font-size: 16px;
	font-weight: bold;
	color: #9ba400;
}
.projecttitle {
	font-size: 30px;
	font-weight: bold;
	color: #9ba400;
}
.fototitle {
	color: #9ba400;
}
.fotopopupparkop {
	font-size: 13px;
	font-weight: bold;
	color: #9ba400;
}
.fotopopuptitel {
	background-color: #AEAF36;
}
td.topgradient {
	background-repeat: no-repeat;
	background-position: left top;
}
td.nav {
	font-size: 12px;
	color: #9ba400;
	padding: 6px 0px 6px 6px;
	border: 1px none #9ba400;
	height: 29px;
	white-space: nowrap;
}
td.black {
	background-color: #000000;
}
td.small {
	font-size: 12px;
}
.creditline {
	color: #777777;
	font-size: 10px;
}
.contrast{
	color: #FFFFFF;
}
.linktext {
	color: #9ba400;
}
a {
	color: #9ba400;
}
a.contrast {
	color: #FFFFFF;
}
a.creditline {
	color: #777777;
}
