<?xml version="1.0"?>
<Server port="9001" shutdown="SHUTDOWN" debug="0">
  <Service name="Tomcat-Standalone-MMBase">
    <Connector className="org.apache.catalina.connector.http.HttpConnector" 
      port="8080" 
      address="localhost" 
      minProcessors="5" maxProcessors="75" 
      enableLookups="false" 
      redirectPort="8443" 
      acceptCount="10" 
      debug="0" 
      connectionTimeout="60000"
    />
    <Engine name="Standalone" defaultHost="localhost" debug="0">
      <Logger className="org.apache.catalina.logger.FileLogger" 
        directory="logs"
        prefix="catalina." 
        suffix=".log" 
        timestamp="true"
        />
      <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Logger className="org.apache.catalina.logger.FileLogger" 
          directory="logs" 
          prefix="tomcat." 
          suffix=".log" 
          timestamp="false"
        />
        <Context path="" docBase="ROOT" debug="0">
           <!-- resource specification as it was before Tomcat 5.5
           <Resource name="mail/Session" auth="Container" type="javax.mail.Session"/>
           <ResourceParams name="mail/Session">
             <parameter>
               <name>mail.smtp.host</name>
               <value>smtp.xs4all.nl</value>
             </parameter>
           </ResourceParams>
           -->
           <!-- resource specification as it is now -->
           <Resource name="mail/Session"
                     auth="Container"
                     type="javax.mail.Session"
                     mail.smtp.host="smtp.xs4all.nl"/>
           <ResourceLink name="linkToGlobalResource"  global="simpleValue"  type="java.lang.Integer"/>
        </Context>
      </Host> 
    </Engine>
  </Service>
</Server>
