/*
 * Stylesheet for the left menu of the edit wizards.
 *
 */

/* general style */
body,
table,
tr,
td,
th,
input,
select,
option,
textarea {
  font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
  letter-spacing:0.05em;
  font-weight:400;
  font-size: 13px;
  color:#000000;
}

/* Specify the scroll bars */
body {
  margin: 0;
  background-color: #a0b0c0;
  scrollbar-base-color: #ffffff;
  scrollbar-face-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-shadow-color: #ffffff;
  scrollbar-darkshadow-color: #c0c0c0;
}

/* Input fields of the edit wizards */
input,textarea {
  font-size: 11px;
  font-color: #000000;
  border-style: solid;
  border-width: 1;
  border-color:Black;
  overflow:auto;
}

/* title in the wizard page */
.title
{
  font: bold larger;
  font-size: 15px;
  font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-color: #000000;
}


/* style for the search list */
tr.itemrow,
tr.itemrow-hover,
tr.itemrow td,
tr.itemrow-hover td {
   cursor:pointer;
   cursor:hand;
   color:#000000;
   padding: 0;
   vertical-align: top;
}
tr.itemrow-hover td	{
   background-color: #ffffff;
   /* text-decoration:underline;  */
}

/* if permission to edit is lacking, the row is 'disabled' */
tr.itemrow-disabled td  {
  font-weight: normal;
  text-decoration : none;
  color:#CCCCCC;
  cursor:default;
}

/* link style */
A:visited.func , A:active.func, A:link.func, A:visited.func, A:active.menu, A:link, A:visited, A:active
{
  color: #000000;
}

.valid		{
  font-weight:bold;
  color:#000000;
}
.notvalid	{
  font-weight:bold;
  color:#CC0000;
}


UL
{
   padding-left: 1em;   /* For Mozilla */
   margin-left: 1em;    /* For IE */
}
/* Save button should be disabled if not all required fields have been entered */
A.bottombutton-disabled		{ font-weight:100;  font-size:16px;  cursor:default; color: #FF0000; }