.background {
	background-color: #FFFFFF;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
}
.light {
	COLOR: #505050;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
}
.bold {
	COLOR: #000000;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
}
TD.background {
	background-color: #FFFFFF;
	border : 0;
}
TD.line {
	background-color: #000000;
	border : 0;
}
TD.image {
	background-color: #E3E3E3;
	border : 0;
}
A.dark_boldlink:link {
	COLOR: #000000;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.dark_boldlink:visited {
	COLOR: #000000;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.dark_boldlink:active {
	COLOR: #000000; 
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.dark_boldlink:hover {
	COLOR: #800000;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.light_boldlink:link {
	COLOR: #505050;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.light_boldlink:visited {
	COLOR: #505050;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.light_boldlink:active {
	COLOR: #505050; 
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A.light_boldlink:hover {
	COLOR: #800000;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
A:link { 
	TEXT-DECORATION: none;
}
A:visited { 
	TEXT-DECORATION: none;
}
A:active { 
	TEXT-DECORATION: none;
}
A:hover { 
	TEXT-DECORATION: none;
}