BODY {
   COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #AAAAAA; SCROLLBAR-3DLIGHT-COLOR: #CCCCCC; SCROLLBAR-DARKSHADOW-COLOR: #999999; SCROLLBAR-BASE-COLOR: #CCCCCC;
}
.dark {	  COLOR: #000099 }
INPUT {	  BACKGROUND-COLOR: #ffffff }
TEXTAREA { BACKGROUND-COLOR: #ffffff;}
SELECT {	  BACKGROUND-COLOR: #ffffff }

.vastgoed_dark {COLOR: #B7BB00}
.vastgoed_medium {COLOR: #F3E400}
.vastgoed_light {COLOR: #FEF8CD}

table .vastgoed_dark {
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #B7BB00;
}

table .vastgoed_medium {
	COLOR: #000000;
	BACKGROUND-COLOR: #F3E400;
}

table .vastgoed_light{
	COLOR: #000000;
	BACKGROUND-COLOR: #FEF8CD;
}
