table { 
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
}

body #profileb {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#tabs { 
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

#tabs ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	} 

#tabs ul li {
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	border: 1px solid #797868;
	background-color: #e7ebde;
    color: #3B3B3B;
	list-style: none;
	display: inline;
	}
	
		
#tabs ul li.selected {
	border-bottom: 1px solid #cceb6f;
	list-style: none;
	display: inline;
	background-color: #cceb6f;
	color: black;
	}

#profile { 
	border: 1px solid #797868;
	background-color: #cceb6f;
    width: 500px;
    padding-top: 10px;
}

div.row {
  clear: both;
  padding-top: 5px;
  paddin-bottom: 5px;
}

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  color: black;
  font-weight:bold;
  display: block;
  }

div.row span.formw {
  float: right;
  width: 335px;
  text-align: left;
  display: block;
  } 

div.spacer {
  clear: both;
  }