body {
  background-color: #E4F0F7;
  scrollbar-base-color: #ffffff;
  scrollbar-face-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-shadow-color: #ffffff;
  scrollbar-darkshadow-color: #c0c0c0;
}

body.leftmenu {
  background-color: #a0b0c0;
  margin-left: 3px;
}

a:visited.func , a:active.func, a:link.func, a:visited.func, a:active.menu, a:link, a:visited, a:active
{
  color: rgb(0,0,0);
  text-decoration: none;
  width: 100px;
  text-align: center;
}

a.menu:hover
{
 text-decoration: underline;
}

a.leftmenu:visited,a:.leftmenu:active,a.leftmenu {
 text-align: left;
 width: auto;
}

a.leftmenu:hover {
 text-decoration: underline;
}

h1 {
 font-size: 20px;
 text-align: center;
}

h2 {
 font-size: 15px;
}