<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/editorstyle.css">
  <meta http-equiv="imagetoolbar" content="no">
   <script>
   function saveCookie(name,value,days) {
      if (days) {
         var date = new Date();
         date.setTime(date.getTime()+(days*24*60*60*1000))
         var expires = '; expires='+date.toGMTString()
      } else expires = ''
      document.cookie = name+'='+value+expires+'; path=/'
   }
   function deleteCookie(name) {
      saveCookie(name,'',-1)
   }
   </script>
</head>
<body onload="javascript:deleteCookie('ew');" style="background-color:#9DBDD8;">
</body>
</html>
