body {
	background-image:  url('../media/tile.gif');
	margin-left: 4px;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 4px
}
body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a.menuitem:link {
    text-decoration: none;
    color="#CFCFCF"
}
a.menuitem:visited {
    text-decoration: none;
    color="#CFCFCF"
}
a.menuitem:active {
    text-decoration: none;
    color="#CFCFCF"
}
a.menuitem:hover {
    text-decoration: none;
    color="#ECECEC"
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5C5C5C;
}
.body10pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #292929;
}
.body10ptRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
	list-style-type: circle;
}
.body11ptBlk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000;
	list-style-type: circle;
}
.body11ptRedBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #9E1A35;
	font-weight: bold;
}
.body11ptRedCaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #9E1A35;
	font-weight: uppercase;
}
.body11ptRubineBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #63002D;
	font-weight: bold;
}
.body11ptRubineCaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #63002D;
	text-transform: uppercase;
}
.body12ptRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #9E1A35;
}
.body12ptRedBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #9E1A35;
	font-weight: bold;
}
.body12ptRubineBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #63002D;
	font-weight: bold;
}
.body12ptRubine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #63002D;
}
.body10ptRubine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #63002D;
}
.body12ptBlck {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
h1 body12ptBlckBld, .body12ptBlckBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	font-weight: bold;
	margin-bottom: -15px;
}
.body12ptBlckBldCaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.body10ptBlckBldcaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.body10ptGryBldcaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;	
}
.body10ptRubineBldcaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
	font-weight: bold;
	text-transform: uppercase;	
	
}
.body14ptBlckBldcaps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.body10ptLGry {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #787878;
}
.body12ptLGry {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #787878;
}
.body10ptv02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.body10ptv03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.body12ptLGry2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #292929;
}
.body12ptWht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
}
.bodycopy1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}
.morebody1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}
.morelistrubine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    color: #63002D;	
}
.morelistred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    color: #9E1A35;	
}
.sponsortitle1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
	line-height: 14px;
	color: #333333;
}
.sponsorhead1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: 14px;
	text-transform: uppercase;
	color: #333333;
	font-weight: bold;
}
.sponsorbody1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
	color: #333333;
}


select { 
	font: 11px geneva, arial, verdana, sans-serif; 
	color: #292929; 
	border: 1px #737373 solid; 
	width: 198px; 
	background-color: #FAFAFA; 
}
.inputWhite { 
	font: 9px geneva, arial, verdana, sans-serif; 
	color: #292929;
	height: 18; 
	padding: 2px; 
	border: 1px #737373 solid; 
	background-color: #FFFFFF; 
}
.inputGrey {
	font: 9px geneva, arial, verdana, sans-serif; 
	color: #292929;
	height: 18; 
	padding: 2px; 
	border: 1px #737373 solid; 
	background-color: #EEEEEE; 
}
.srchresults {
	margin-top: 10px;
}



.td1a {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	background-color: #EEEEEE;
	padding: 8px;
}
.td1b {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	background-color: #EEEEEE;
}
.td1c {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #EEEEEE;
	padding-top: 8px;
	padding-LEFT: 0px;
	padding-BOTTOM: 8px;
	padding-right: 8px;
}
.td2a {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F2F2F2;
	padding-top: 8px;
	padding-LEFT: 8px;
	padding-BOTTOM: 8px;
	padding-RIGHT: 0px;	
}
.td3a {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	background-color: #F6F6F6;
	padding-top: 9px;
	padding-LEFT: 9px;
	padding-BOTTOM: 9px;
	padding-RIGHT: 9px;	
}
.td3b {
	BORDER-TOP: #CECECE 1px solid;
	background-color: #F6F6F6;
}
.td3c {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F6F6F6;
	padding-top: 9px;
	padding-LEFT: 0px;
	padding-BOTTOM: 9px;
	padding-RIGHT: 9px;	
}
.td5a {
	BORDER-LEFT: 1px solid #CECECE;
	BORDER-BOTTOM: 1px solid #CECECE;
	background-color: #F6F6F6;
	padding-LEFT: 9px;
	padding-BOTTOM: 9px;
	padding-RIGHT: 9px;
}
.td5b {
	BORDER-BOTTOM: #CECECE 1px solid;
	background-color: #F6F6F6;
}
.td5c {
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F6F6F6;
	padding-LEFT: 0px;
	padding-BOTTOM: 9px;
	padding-RIGHT: 9px;	
}
.td2b {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F2F2F2;
	padding: 8px;
}
.td22a {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	background-color: #F2F2F2;
	padding: 8px;
}
.td22c {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F2F2F2;
	padding-top: 8px;
	padding-LEFT: 0px;
	padding-BOTTOM: 8px;
	padding-right: 8px;
}
.td4aa {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	background-color: #eeeeee;
	padding-top: 8px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
}
.td4bb {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #eeeeee;
	padding-top: 8px;
	padding-LEFT: 0px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4a {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
}
.td4b {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-LEFT: 0px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4c {
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #FAFAFA;
}
.td4d {
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	background-color: #FAFAFA;
	padding: 9px 8px;
}
.td4e {
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #FAFAFA;
}
.td4f {
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-LEFT: 8px;
	padding-BOTTOM: 0px;
	padding-right: 8px;
}
.td4g {
	BORDER-LEFT: #CECECE 1px solid;
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4h {
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-LEFT: 0px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4r {
	border-top: #000 1px dashed;
	padding-top: 0px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4r2 {
	background-color: #F4EEEF;
	padding-top: 0px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td4g2 {
	background-color: #EEF3F4;
	padding-top: 0px;
	padding-LEFT: 8px;
	padding-BOTTOM: 4px;
	padding-right: 8px;
}
.td3a2 {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	background-color: #F6F6F6;
	padding-top: 9px;
	padding-LEFT: 9px;
	padding-BOTTOM: 9px;
	padding-RIGHT: 0px;
}
.td22b {
	BORDER-TOP: #CECECE 1px solid;
	BORDER-LEFT: #CECECE 1px solid;
	BORDER-BOTTOM: #CECECE 1px solid;
	BORDER-RIGHT: #CECECE 1px solid;
	background-color: #F2F2F2;
	padding: 8px;
}
.floatleft {
	float: left;
	margin-right: 20px;
}
.floatleftmag {
	float: left;
	margin-right: 10px;
}
.rgtColTr1 {
	background-color: #ECECEC;
	padding: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #737373;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CECECE;
}
.rgtColTr2 {
	background-color: #CACACA;
	padding: 9px;
}
.Tr1 {
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-LEFT: 9px;
	padding-BOTTOM: 9px;
	padding-right: 9px;
}
.Tr2 {
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-LEFT: 9px;
	padding-BOTTOM: 4px;
	padding-right: 9px;
}
.rgtColTr3 {
	background-color: #CACACA;
	padding: 9px;
}
.td1a2 {
	background-color: #EEEEEE;
	padding: 7px;
	border: 1px solid #CECECE;
}


.hpTd1 {
}
.hpTd2 {
	padding: 9px 8px 0px 9px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CFCFCF;
}
.hpTd3 {
	padding: 9px;
}
.hpFoot1a {
	padding: 9px 8px 9px 9px;
	background-color: #242424;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #4B4B4B;
}
.hpFoot1b {
	padding: 9px 8px 8px;
	background-color: #242424;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #4B4B4B;
}
.hpFoot1c {
	background-color: #242424;
	padding: 9px;
}


.fshnFoot1 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFoot2 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFoot3 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFoot4 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFoot5 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFoot6 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.fshnFootLink1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.fshnFootLink2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.fshnFootLink3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.fshnFootLink4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.fshnFootLink5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}
.fshnFootLink6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #63002D;
}


.btyFoot1 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.btyFoot2 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.btyFoot3 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.btyFootLink1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}
.btyFootLink2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}
.btyFootLink3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}



.boutique-12ptBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003333;
}
.boutique-11ptBld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003333;
}
.boutique-10pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003333;
}
.shopFoot1 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.shopFoot2 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.shopFoot3 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.shopFoot4 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.shopFoot5 {
	background-color: #EDDFE1;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.shopFootLink1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
}
.shopFootLink2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
}
.shopFootLink3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
}
.shopFootLink4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
}
.shopFootLink5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #9E1A35;
}



.itmFoot1 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.itmFoot2 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.itmFoot3 {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.itmFootLink1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}
.itmFootLink2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}
.itmFootLink3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #A81B32;
}



.ArcTitleBg1 {
	background-color: #CACACA;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}
.ArcTitleBg2 {
	background-color: #CACACA;
	padding-top: 9px;
	padding-bottom: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-transform: uppercase;
}
.redresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #9E1A35;
	padding-top: 8px;
	padding-bottom: 8px;
}
.RedArcBg1 {
	background-color: #F9F6F7;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #A81B32;
}
.RedArcBg2 {
	background-color: #F8F4F5;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #A81B32;
}
.RedArcBg3 {
	background-color: #F7F3F4;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #A81B32;
}
.RedArcBgFoot {
	background-color: #EDDFE1;
	border-top: 1px solid #FAFAFA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	padding: 9px;
}
.RedArcFontColor {
	color: #A81B32;
	font-size: 12px;
}

.Rubineresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #63002D;
	padding-top: 8px;
	padding-bottom: 8px;
}
.RubineArcBg1 {
	background-color: #FAF7F9;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #63002D;
}
.RubineArcBg2 {
	background-color: #F7F2F5;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #63002D;
}
.RubineArcBg3 {
	background-color: #F5F0F2;
	border-top: 1px solid #FAFAFA;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #63002D;
}
.RubineArcBgFoot {
	background-color: #EDDFE5;
	padding: 9px;
	border-top: 1px solid #FAFAFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #595959;
}
.RubineArcFontColor {
	color: #63002D;
	font-size: 12px;
}

.leftnav1 {
	font-family: "Arial", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	position: relative;
	left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}
.int_gal_main_img_brdr {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.int_gallery {
 border: 1px solid #000000;
}